#addNewImage{cursor: pointer;width:250px;height:150px;margin: 0 0 20px 15px;}
.projectImage{width:250px;height:150px;object-fit: cover;object-position: center top;margin: 0 0 20px 15px;}
.imagesBox *{transition: all .3s ease;}
.projectImage:hover{box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;}
.triangle-top {position: absolute;width: 0;height: 0;border-left: 35px solid transparent;border-top: 35px solid rgba(255,255,255,0.70);}
.triangle-down {position: absolute;margin: 115px 215px 0 0;width: 0;height: 0;border-right: 35px solid transparent;border-bottom: 35px solid rgba(255,255,255,0.70);}
.triangle-top i , .triangle-down i {cursor: pointer;}
.removeImage{position: absolute;margin: -33px 6px 0 0;color: red;}
.masterImage{position: absolute;margin: 16px -18px 0 0;color: gold;}
.point{position: absolute;width: 250px;height: 150px;opacity: 0;}
.point:hover{opacity: 1;}